# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
myenv/
venv/
.venv/

# Local database
cyberaudit.db
*.db
*.sqlite
*.sqlite3

# Generated reports
reports/*.pdf

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml